<li>
    Employee Number: <%= employee.emp_id %>
  </li>
  <li>
    Name: <%= salesman.name %>
  </li>
  <li>
    Title: <%= salesman.title %>
  </li>
  <li>
    Phone Number: <%= salesman.phone_number %>
</li>
