<div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-left">

<h1>User Info</h1>

<%= render partial: "user", locals: {user: @user} %>
<% if logged_in? && @user.admin %>
  <p><%= link_to "Edit User", edit_user_path(@user), :class=> "w3-bar-item w3-button"  %></p>
<% end %>
</div>
</div>
