<div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-left">


<h3>Big Orders</h3>
<p>Click <b style="color:green">Order Number</b> to see more details</p>
  <%@big_orders.each do |big_order| %>
    <li><%= link_to "#{big_order.order_num}", order_path(big_order), {:class=> "w3-bar-item w3-button", :style=>"color:green; font-size:20px"} %>,  $<%=big_order.total%></li>
  <%end%>



</div>
</div>
