<div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-left">


<h2>Order Info</h2>

<%= render partial: "order", locals: {order: @order} %>
<br />


<%= link_to "Edit Order", edit_order_path(@order), :class=> "w3-bar-item w3-button"  %>


<% if current_user.admin%>

  <%= link_to "Create Invoice", new_order_invoice_path(@order), :class=> "w3-bar-item w3-button"  %>
<%end%>
</div>
</div>
