<div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-left">


<h3>Most Ordered Item</h3>
<p>Click <b style="color:green">Item</b> to see more details</p>
    <li><%= link_to "#{@item.name}", item_path(@item), {:class=> "w3-bar-item w3-button", :style=>"color:green; font-size:20px"} %>,  Ordered: <%=@most_ordered_item.first.shipped%></li>



</div>
</div>
