
<div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-left">

<h1>Edit Item</h1>

<%= render partial: "form", locals: { item:  @item } %>

</div>
</div>
