<div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-left">

<h1>Item Info</h1>

<%= render partial: "item", locals: {item: @item} %>
<% if logged_in? && current_user.admin %>
  <p>
  <p><%= link_to "Add Item", new_item_path %> 
    <%= link_to "Edit Item", edit_item_path(@item) %>
     <%= link_to "Delete Product", item_path(@item), method: :delete %></p>

<% end %>





</div>
</div>
